<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>
<form action="/display/search_display" method="post"> {% csrf_token %}
  <input type="text" placeholder="Search" name="search_box" id="search_box" required>
  <button type="submit">
      Search:
  </button>
</form>
<h2>HTML Table</h2>

<table>
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th>Standard</th>
    <th>Roll Number</th>
    <th>City</th>
  </tr>
  {% for student in student_list%}
  <tr>
    <td>{{ student.email }}</td>
    <td>{{ student.name }}</td>
    <td>{{ student.std }}</td>
    <td>{{ student.rollno }}</td>
    <td>{{ student.city }}</td>

  </tr>
  {% endfor %}

</table>
<br>
<form action="/display/display" method="post"> {% csrf_token %}
<input style="visibility: hidden"   value="{{student_list.0.rollno}}" name="delete_rollno">
  <button type="submit" >
      Delete
  </button>
</form>
  <button ><a href="/display/">

      Go back
 </a>
   </button>
</body>
</html>